html{

}
body{
    position: relative;
    color: #333333;
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
    min-width: 320px;
    background-color: #f2f2f2;
}
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}
.container{
    max-width: 320px;
    margin: 0 auto;
}

.page-header{
    width: 320px;
    margin: 0 auto;
    background-color: #ffffff;
}
.navigation-mobile{
    position: relative;
    min-height: 55px;
    margin: 0;
    padding: 0;
}
.navigation-mobile-list{
    display: none;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
}
.navigation-mobile-list--mod-js{
    display: flex;
}
.navigation-mobile-item{
    margin: 0;
    padding: 0;
}
.navigation-mobile-link{
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #81b3d2;
    border-top: 1px solid #9ac2db;
    border-bottom: 1px solid #678fa8;
}
.navigation-mobile-link:hover{
    background-color: #669ec0;
}
.navigation-mobile__logo-link {
    display: block;
    width: 140px;
    margin: 0 auto;
    min-height: 55px;
}
.navigation-mobile__logo-img{
    position: absolute;
    left: 50%;
    display: block;
    width: 140px;
    margin-left: -70px;
}
.wrap-for-burger-menu{
    position: relative;
}
.menu-burger{
    position: absolute;
    top: 15px;
    right: 20px;
    width: 23px;
    height: 23px;
    background-image: url(../images/mobile/1x/burger-menu-mob@1x.png);
    background-repeat: no-repeat;
    background-size: 23px 23px;
    cursor: pointer;
}
@media (min-resolution: 2dppx) {
    .menu-burger{
        background-image: url(../images/mobile/2x/burger-menu-mob@2x.png);
    }
}
@media (min-resolution: 3dppx) {
    .menu-burger{
        background-image: url(../images/mobile/3x/burger-menu-mob@3x.png);
    }
}
.menu-cross{
    position: absolute;
    top: 15px;
    right: 20px;
    width: 23px;
    height: 23px;
    background-image: url(../images/mobile/1x/cross-menu-mob@1x.png);
    background-repeat: no-repeat;
    background-size: 23px 23px;
    cursor: pointer;
}
@media (min-resolution: 2dppx) {
    .menu-cross{
        background-image: url(../images/mobile/2x/cross-menu-mob@2x.png);
    }
}
@media (min-resolution: 3dppx) {
    .menu-cross{
        background-image: url(../images/mobile/3x/cross-menu-mob@3x.png);
    }
}
.navigation{
    display: none;
}

.page-body{

}
.first-row{

     background-image: url(../images/mobile/1x/bg-fistr-row-mob@1x.jpg);
     background-repeat: no-repeat;
     background-size: 320px 561px;
     background-color: #ffffff;
 }
@media (min-resolution: 2dppx) {
    .first-row{
        background-image: url(../images/mobile/2x/bg-fistr-row-mob@2x.jpg);
    }
}
@media (min-resolution: 3dppx) {
    .first-row{
        background-image: url(../images/mobile/3x/bg-fistr-row-mob@3x.jpg);
    }
}
.logo-wrap{
    width: 280px;
    margin: 0 auto;
    margin-bottom: 90px;
}
.main-logo{
    margin-top: 50px;
}
.first-row__wrap-title{
    width: 260px;
    padding: 0;
    padding-bottom: 30px;
    margin: 0 auto;
    text-align: center;

}
.first-row__title{
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    text-align: center;
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    text-transform: uppercase;
}
.first-row__text{
    width: 250px;
    padding: 0;
    margin: 0;
    text-align: center;
    color: #333333;
    font-size: 12px;
    font-weight: 500;
    line-height: 26px;
    text-transform: uppercase;
}

.second-row{

}
.second-row__part-one{

}
.second-row__block-for-img{
    width: 320px;
    padding-top: 65px;
    text-align: center;
    background-color: #81b3d2;
    background-image: url(../images/mobile/1x/second-row-line-mod@1x.png);
    background-repeat: no-repeat;
    background-position: center -10px;
}
.second-row__block-for-img:nth-child(2){
    background-image: none;
}
.second-row__true-city__title{
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
.second-row__true-city__number{
    margin-bottom: 10px;
    color: #ffffff;
    font-size: 16px;
}
.second-row__true-city_text{
    width: 260px;
    margin: 0 auto;
    padding-bottom: 40px;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
}

.second-row__part-one__img{
    display: block;
    margin: 0;
    padding: 0;
}
.our-offers-wrap{
    margin: 0;
    padding: 0;
    padding-top: 30px;
    padding-bottom: 40px;
    background-color: #ffffff;
}
.our-offers__first{
    padding: 0;
    margin: 0px;
}
.our-offers__first__title{
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 70px;
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    background-image: url(../images/desktop/1x/second-row-house@1x.png);
    background-repeat: no-repeat;
    background-size: 37px 37px ;
    background-position: 22px center;
}
.our-offers__first__text{
    width: 210px;
    margin-left: 70px;
    color: #333333;
    font-size: 14px;
    text-transform: uppercase;
}

.our-offers__second{
    padding: 0;
    margin: 0px;
}
.our-offers__second__title{
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 70px;
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    background-image: url(../images/desktop/1x/second-row-burger@1x.png);
    background-repeat: no-repeat;
    background-size: 37px 37px ;
    background-position: 22px center;
}
.our-offers__second__text{
    width: 210px;
    margin-left: 70px;
    color: #333333;
    font-size: 14px;
    text-transform: uppercase;
}
.our-offers__third{
    padding: 0;
    margin: 0px;
}
.our-offers__third__title{
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 70px;
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    background-image: url(../images/desktop/1x/second-row-present@1x.png);
    background-repeat: no-repeat;
    background-size: 37px 37px ;
    background-position: 22px center;
}
.our-offers__third__text{
    width: 210px;
    margin-left: 70px;
    color: #333333;
    font-size: 14px;
    text-transform: uppercase;
}

.second-row__part-two{

}
.second-row__part-two__img2{
    display: block;
    margin: 0;
    padding: 0;
}
.second-row__block-for-img2{
    padding-top: 40px;
    text-align: center;
    background-color: #81b3d2;
}
.our-offers-wrap-two{
    margin: 0;
    padding: 0;
    background-color: #eeeeee;
}
.our-offers__fourth{
    width: 210px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    border-bottom: 1px solid #d6d6d6;
}
.our-offers__fourth:last-child{
    border-bottom: none;
}
.our-offers__fourth__title{
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    color: #000000;
    font-size: 16px;
    text-transform: uppercase;
}
.our-offers__fourth__number{
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    font-size: 12px;
}
.our-offers__fourth_text{
    width: 210px;
    margin: 0 auto;
    padding: 0;
    font-size: 14px;
    text-transform: uppercase;
}
.third-row{
}
.third-row-wrap-title{
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #ffffff;

}
.third-row__title{
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}
.third-row__text{
    width: 250px;
    margin: 0 auto;
    text-align: center;
    color: #333333;
    font-size: 12px;
    line-height: 25px;
    text-transform: uppercase;
}
.modal-search{
    margin: 0;
    padding-bottom: 50px;
    background-color: #ffffff;
}
.modal-form{
    background-color: #ffffff;
}
.modal-search__title{
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    background-color: #766357;
}
/*.modal-form label{*/
    /*display: block;*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*padding-left: 35px;*/
    /*color: #000000;*/
    /*font-size: 12px;*/
    /*font-weight: 600;*/
    /*text-transform: uppercase;*/
/*}*/
.label-race{
    display: block;
    margin: 0;
    margin-bottom: 10px;
    margin-left: 35px;
    padding: 0;
    color: #000000;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}
.input-race{
    display: block;
    width: 215px;
    margin: 0;
    margin-left: 20px;
    margin-bottom: 25px;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 50px;
    color: #000000;
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #f2f2f2;
    background-image: url(../images/mobile/1x/calendar-mod@1x.png);
    background-repeat: no-repeat;
    background-size: 20px 22px;
    background-position: 250px center;
    border: none;
    outline: none;
}
@media (min-resolution: 2dppx){
    .input-race {
        background-image: url(../images/mobile/2x/calendar-mod@2x.png);
    }
}
@media (min-resolution: 3dppx){
    .input-race {
        background-image: url(../images/mobile/3x/calendar-mod@3x.png);
    }
}
.label-exit{
    display: block;
    margin: 0;
    margin-bottom: 10px;
    margin-left: 35px;
    padding: 0;
    color: #000000;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}
.input-exit{
    display: block;
    width: 215px;
    margin: 0;
    margin-left: 20px;
    margin-bottom: 25px;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 50px;
    color: #000000;
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #f2f2f2;
    background-image: url(../images/mobile/1x/calendar-mod@1x.png);
    background-repeat: no-repeat;
    background-size: 20px 22px;
    background-position: 250px center;
    border: none;
    outline: none;
}
@media (min-resolution: 2dppx){
    .input-exit{
        background-image: url(../images/mobile/2x/calendar-mod@2x.png);
    }
}
@media (min-resolution: 3dppx){
    .input-exit{
        background-image: url(../images/mobile/3x/calendar-mod@3x.png);
    }
}
.parents-children-wrap{
    margin-bottom: 45px;
    font-size: 0;
}
.wrap-parents{
    display: inline-block;
    vertical-align: top;
    font-size: 0;
}
.label-parents{
    display: block;
    margin: 0;
    margin-left: 35px;
    margin-bottom: 10px;
    padding: 0;
    color: #000000;
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}
.wrap-parents-btn{
    margin-left: 20px;
}


.input-parents{
    display: inline-block;
    vertical-align: top;
    width: 25px;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #000000;
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    background-color: #f2f2f2;
    outline: none;
    border: none;
}
.btn-plus{
    display: inline-block;
    vertical-align: top;
    width: 44px;
    height: 35px;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    background-image: url(../images/mobile/1x/plus-mod@1x.png);
    background-repeat: no-repeat;
    background-size: 10px 10px;
    background-position: center;
    cursor: pointer;
}
@media (min-resolution: 2dppx){
    .btn-plus{
        background-image: url(../images/mobile/2x/plus-mod@2x.png);
    }
}
@media (min-resolution: 3dppx){
    .btn-plus{
        background-image: url(../images/mobile/3x/plus-mod@3x.png);
    }
}
.btn-minus{
    display: inline-block;
    vertical-align: top;
    width: 44px;
    height: 35px;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    background-image: url(../images/mobile/1x/minus-mod@1x.png);
    background-repeat: no-repeat;
    background-size: 10px 3px;
    background-position: center;
    cursor: pointer;
}
@media (min-resolution: 2dppx){
    .btn-minus{
        background-image: url(../images/mobile/2x/minus-mod@2x.png);
    }
}
@media (min-resolution: 3dppx){
    .btn-minus{
        background-image: url(../images/mobile/3x/minus-mod@3x.png);
    }
}
.wrap-children{
    display: inline-block;
    vertical-align: top;
    margin-left: 50px;
    font-size: 0;
}
.wrap-children-btn{

}
.label-children{
    display: block;
    margin: 0;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 0;
    color: #000000;
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}
.input-children{
    display: inline-block;
    vertical-align: top;
    width: 25px;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #000000;
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    background-color: #f2f2f2;
    outline: none;
    border: none;
}
.modal-search__btn-submit{
    display: block;
    width: 280px;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    color: #ffffff;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #81b3d2;
    outline: none;
    border: none;
}
.modal-search__btn-submit:hover {
    background-color: #669ec0;
}
.map{
    height: 600px;
}
.page-footer{
    position: absolute;
    left: 50%;
    width: 320px;
    margin-left: -160px;
    padding-top: 30px;
    padding-bottom: 30px;
    bottom: 0;
    background-image: url(../images/desktop/1x/footer-bg-pattern@1x.png);
}
.footer-logo{
    display: block;
    margin: 0 auto;
    margin-bottom: 45px;
}
.social-list{
    width: 150px;
    margin: 0 auto;
    margin-bottom: 45px;
    padding: 0;
    font-size: 0;
    list-style: none;
}
.social__item{
    display: inline-block;
    margin-left: 5px;
    vertical-align: top;
    font-size: 14px;
}
.social__item:first-child{
    margin-left: 0px;
}
.social__link{
    display: block;
    width: 45px;
    height: 45px;
    margin: 0;
    padding: 0;
    background-color: #81b3d2;
    text-indent: -9999px;
}
.tw{
     background-image: url(../images/desktop/1x/twitter@1x.png);
     background-repeat: no-repeat;
     background-position: center;
     background-size: 18px 14px;
 }
.fb{
    background-image: url(../images/desktop/1x/facebook@1x.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 8px 18px;
}
.yt{
    background-image: url(../images/desktop/1x/youtube@1x.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 14px;
}
.tw:hover{
    background-color: #669ec0;

}
.fb:hover{
    background-color: #669ec0;
}
.yt:hover{
    background-color: #669ec0;

}
@media (min-resolution: 2dppx) {
    .tw{
        background-image: url(../images/desktop/2x/twitter@2x.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 18px 14px;
    }
    .fb{
        background-image: url(../images/desktop/2x/facebook@2x.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 8px 18px;
    }
    .yt{
        background-image: url(../images/desktop/2x/youtube@2x.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 20px 14px;
    }
}
@media (min-resolution: 3dppx) {
    .tw{
        background-image: url(../images/desktop/3x/twitter@3x.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 18px 14px;
    }
    .fb{
        background-image: url(../images/desktop/3x/facebook@3x.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 8px 18px;
    }
    .yt{
        background-image: url(../images/desktop/3x/youtube@3x.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 20px 14px;
    }
}
.footer-website-by{
    display: block;
    margin: 0 auto;
}